asgiref==3.2.7
click==7.1.2
decore==0.0.1
dj-database-url==0.5.0
Django==3.0.7
joblib==0.14.1
nltk==3.5
numpy==1.18.3
pandas==1.0.3
pdpipe==0.0.46
PyQt5==5.14.2
PyQt5-sip==12.7.2
python-dateutil==2.8.1
pytz==2020.1
regex==2020.4.4
scikit-learn==0.22.2.post1
scipy==1.4.1
six==1.14.0
sklearn==0.0
skutil==0.0.16
sortedcontainers==2.1.0
sqlparse==0.3.1
strct==0.0.30
tqdm==4.45.0
psycopg2==2.6.2